<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Confirmación envío de solicitud <ion-icon name="mail-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  

  <ion-progress-bar buffer="0"  class="content wow fadeOut"></ion-progress-bar>
  <br/>
  <br/>
  <div>
  <h6>¡Felicidades! Envío Exitoso</h6>
  <br/>
  <br/>
  <h2 class="content">Por favor validar el correo electrónico para continuar el proceso de Registro</h2>
  <br/>
  <br/>
  <ion-icon name="mail-outline" color="primary" class="iconEmail wow bounce infinite" ></ion-icon>
  </div>
  <div>
    <ion-button color="primary" routerLink="/login-page-proveedor">Iniciar sesión <ion-icon name="person-outline"></ion-icon></ion-button>
    <ion-button color="primary" routerLink="/solicitud-de-registro">Enviar otra solicitud <ion-icon name="send-outline"></ion-icon></ion-button> 
    <ion-button color="primary" routerLink="/tabs/tab1">ir al Inicio <ion-icon name="home-outline"></ion-icon></ion-button>
  </div>
</ion-content>
