<!-- Titulo -->
<section class="center">
  <h3 class="font-weight-bold mb-3"><strong class="indigo-text">Entregas Pendientes</strong></h3>
</section>
<!-- Titulo -->

<!-- Entregas Pendientes -->
<section>
    <!-- Aréa de Usuario -->
    <div class="news">
      <!-- Avatar Usuario -->
      <div class="label">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1-mini.jpg" class="rounded-circle z-depth-1-half">
      </div>
    </div>
    <!-- Aréa de Usuario -->
</section>
<!-- Entregas Pendientes -->