.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.botonImprimir{
    margin-top: 30px;
    margin-bottom: 10px;
}
.cardPedido{
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.producto{
    margin-left: 20px;
    margin-right: 20px;
}