<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Información de la aplicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Creador-->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Creada por:</ion-card-subtitle>
    <ion-card style="text-align: center; margin-left: auto; margin-right: auto;">
      <br/>
      <ion-card-title>Miguel Ángel Páez Parra</ion-card-title>
      <br/>
      <img src="https://res.cloudinary.com/newstartap/image/upload/v1616785574/imagenesParticipantes/Miguel_Paez_jpg_qdta4w.jpg" alt="">
    </ion-card>
    <ion-card-subtitle>Conocer Más...</ion-card-subtitle>

    <ion-card-subtitle>Derechos de Autor:</ion-card-subtitle>
  </ion-card-header>
  </ion-card>
  <!--Creador-->
  <!--Equipo-->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Equipo de desarrollo y mantenimiento:</ion-card-subtitle>
    <ion-card style="text-align: center; margin-left: auto; margin-right: auto;">
      <br/>
      <ion-card-title>Sebastian Moreno</ion-card-title>
      <br/>
      <img src="https://res.cloudinary.com/newstartap/image/upload/v1616785574/imagenesParticipantes/Miguel_Paez_jpg_qdta4w.jpg" alt="">
    </ion-card>
    <ion-card-subtitle>Conocer Más</ion-card-subtitle>
  </ion-card-header>
  </ion-card>
  <!--Equipo-->
    

</ion-content>
