<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      <ion-button routerLink="/tabs/tab1" color="warning">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    Conocer Mi Comuna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button mdbBtn type="button" color="primary" mdbWavesEffect>Primary</button>
<button mdbBtn type="button" color="default" mdbWavesEffect>Default</button>
<button mdbBtn type="button" color="secondary" mdbWavesEffect>Secondary</button>
<button mdbBtn type="button" color="success" mdbWavesEffect>Success</button>
<button mdbBtn type="button" color="info" mdbWavesEffect>Info</button>
<button mdbBtn type="button" color="warning" mdbWavesEffect>Warning</button>
<button mdbBtn type="button" color="danger" mdbWavesEffect>Danger</button>
</ion-content>
