.my-custom-menu {
    --width: 500px;
  }

.boddy{
  background-color: #f7f7f7;
}
.boddyMenor{
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.toolbar{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; 
  margin-left: auto; 
  margin-right: auto;
}
.cardToolbar{
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
}