
<!-- Header menu perfil y empresas -->
<app-header-empresas (newItemEvent)="addItem($event)"></app-header-empresas>
<!-- Header menu perfil y empresas -->

<!-- contenido tab1 ventas -->
<ion-content [fullscreen]="true" color="medium">
  <div *ngFor="let item of ultimoValor" style="background-color:white; width: 98%; height: 100%; margin-top: auto; margin-left: auto; margin-right: auto; margin-bottom: auto;">
    <!-- id empresa seleccionada -->
    <ion-item class="centrar">
      <ion-chip color="primary"style="margin-left: auto; margin-right: auto; text-align: center;">
        Empresa seleccionada Id :
          <ion-input value="{{item}}" disabled></ion-input>
      </ion-chip>
    </ion-item>
    <!-- id empresa seleccionada -->
    <div style="background-color:white; width: 98%; height: 100%; margin-top: auto; margin-left: auto; margin-right: auto; margin-bottom: auto;">
      <!-- home ventas Empresa1 -->
      <div *ngIf="item==1"><app-home-ventas-empresa1></app-home-ventas-empresa1></div>
      <!-- home ventas Empresa1 -->
      <div *ngIf="item==2">Es menor de edad.</div>
    </div>
  </div>
</ion-content>
<!-- contenido tab1 ventas -->
