<!-- Global site tag (gtag.js) - Google Analytics -->

<div>
    <div class="Contenido Mayor">

<!--Menú Mi Perfil-->
<ion-menu side="end" menuId="second" contentId="main">
  <ion-header >
    <ion-toolbar color="primary">
      <ion-button color="primary" style="text-align: right;" slot="end" (click)="closePerfil()"><ion-icon name="close-circle-outline" ></ion-icon></ion-button>
      <ion-title>Opciones de Ingreso
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-button color="light" >
        <ion-item><ion-icon name="cart-outline"></ion-icon> &nbsp;&nbsp; Mi Perfil de Comprador</ion-item>
      </ion-button>
      <ion-button color="light" >
        <ion-item><ion-icon name="cart-outline"></ion-icon> &nbsp;&nbsp; Iniciar Sesión</ion-item>
      </ion-button>
      <ion-button color="light" >
        <ion-item><ion-icon name="cart-outline"></ion-icon> &nbsp;&nbsp; Cerrar Sesión</ion-item>
      </ion-button>
      <ion-button color="light" routerLink="/login-page-proveedor" (click)="activarWow()">
        <ion-item><ion-icon name="boat-outline"></ion-icon> &nbsp;&nbsp; Proveedor de este Comercio</ion-item>
      </ion-button>
      <ion-button color="light">
        <ion-item><ion-icon name="pricetags-outline"></ion-icon> &nbsp;&nbsp; Vendedor Autorizado</ion-item>
      </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<!--Menú Mi Perfil-->

<!--Cotenido del TAB1-->



<!--ToolBar-->
<ion-content [fullscreen]="true"  >
  <ion-card  class="cardToolbar">
  <ion-title  class="toolbar">
    <ion-chip (click)="openPerfil()">
      <ion-avatar style="margin-left: 0%; margin-right: 0%;">
        <img src="https://res.cloudinary.com/newstartap/image/upload/v1616785574/imagenesParticipantes/Miguel_Paez_jpg_qdta4w.jpg">
      </ion-avatar>
    </ion-chip>
    <ion-chip color="primary" > La feria del Aseo Pereira
    </ion-chip>
    <ion-chip (click)="openPerfil()">
      <ion-avatar style="margin-left: 0%; margin-right: 0%;">
        <img src="https://res.cloudinary.com/newstartap/image/upload/v1616785574/imagenesParticipantes/Miguel_Paez_jpg_qdta4w.jpg"> 
      </ion-avatar>
    </ion-chip>
  </ion-title>
</ion-card>
<!--ToolBar-->

  <div class="boddy">
  <div class="boddyMenor">
  
  <!--botones antes de -->
    <div >
      <div >
     
    </div>
  <!--botones antes de -->
  <!--cards-->
  <div *ngFor="let item of items">
  <ion-card >
    <ion-card-header>
      <ion-item>
        <div>
        <ion-card-subtitle >Publicado por:
          <a href="{{item.perfil}}" style="text-decoration: none; text-align: center; margin-left: auto; margin-right: auto;">
          <ion-chip color="primary" >
            <ion-avatar style="margin-left: 0%; margin-right: 0%;">
              <img class="animated bounce infinite" src="https://res.cloudinary.com/newstartap/image/upload/v1616785574/imagenesParticipantes/Miguel_Paez_jpg_qdta4w.jpg">
          </ion-avatar>
          &nbsp;
          <ion-label>Miguel Páez</ion-label>
        </ion-chip></a>
        </ion-card-subtitle>
        </div>
    <ion-card-subtitle>Fecha:</ion-card-subtitle>
      <ion-card-subtitle>Fecha:</ion-card-subtitle>
    </ion-item>
      <ion-card-title>Titulo:</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center; margin-right: auto;margin-left: auto;">
        <img src="{{item.img}}" class="zoom" alt="">
          
        </ion-card-content>
        <ion-card-content>
          <ion-card-subtitle>Descripción:</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle style="text-align: left;">Aporte voluntario para la construcción y mantenimiento de la plataforma:</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content style="text-align: left; ">
          <ion-card-title>
            Aporte en:
          </ion-card-title>
          <ion-chip color="tertiary" routerLink="/aporte-voluntario-pesos">
              <ion-icon name="cash-outline"></ion-icon>
            <ion-label>
              Pesos Colombianos
            </ion-label>
          </ion-chip>
          <ion-chip color="success" routerLink="/aporte-voluntario-dolares">
              <ion-icon name="cash-outline"></ion-icon>
            <ion-label>Dólares</ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>
    </div>

    </div>
    <!--cards-->
    <!--Chat Comunitario-->
    <div *ngIf="discuciones" style="text-align: center; margin-left: auto; margin-right: auto; max-width: 800px;">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Mi Barrio
            <a href="https://web.telegram.org/#/im?p=s1401194554_16913756030401305367" Target="_Blank" style="text-decoration: none;">
              <ion-chip color="primary" >
              <ion-avatar>
                <img src="https://res.cloudinary.com/conexionpublica/image/upload/v1621528803/t_logo_ch6mb6.png">
              </ion-avatar>
              <ion-label>chat</ion-label>
            </ion-chip></a>
            <a href="https://t.me/joinchat/AWG8yrgwO14xMWJh" Target="_Blank" style="text-decoration: none;" ><ion-chip color="primary" >
              <ion-avatar>
                <img src="https://res.cloudinary.com/conexionpublica/image/upload/v1621528803/t_logo_ch6mb6.png">
              </ion-avatar>
              <ion-label>Registrarme en Grupo de Telegram</ion-label>
            </ion-chip></a>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <a href="https://t.me/joinchat/AWG8yrgwO14xMWJh" Target="_Blank" style="text-decoration: none;" ><ion-chip color="warning" >
            <ion-icon name="cart-outline"></ion-icon>
            <ion-label>Emprendimientos de mi Barrio</ion-label>
          </ion-chip></a>
          <iframe src="https://chatbro.com/37unE" frameborder="0" style="width: 100%;min-height: 240px;"></iframe>
        </ion-card-content>
      </ion-card>
    </div>
    <!--Chat Comunitario-->

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  </div>
  </div>
</ion-content>

<!--Cotenido del TAB1-->
</div>
</div>