<!-- Tool Bar, header -->
<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button color="secondary">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title  class="toolbar">
      <ion-chip (click)="openEmpresas()">
          <ion-icon name="business-outline" color="primary"></ion-icon>&nbsp;&nbsp;&nbsp;
      </ion-chip>
      <ion-chip color="primary" (click)="openEmpresas()"> {{seleccionado?.nombreEmpresa}}
      </ion-chip>
      <ion-chip (click)="openPerfil()">
        <ion-avatar style="margin-left: 0%; margin-right: 0%;">
          <img src="https://res.cloudinary.com/newstartap/image/upload/v1616785574/imagenesParticipantes/Miguel_Paez_jpg_qdta4w.jpg"> 
        </ion-avatar>
      </ion-chip>
    </ion-title>
</ion-toolbar>


<!-- Menú Empresas -->
<ion-menu side="end" menuId="first" contentId="main">
  <!-- Titulo -->
  <ion-header >
    <ion-toolbar color="primary">
      <ion-button color="primary" style="text-align: right;" slot="end" (click)="closeEmpresas()"><ion-icon name="close-circle-outline" ></ion-icon></ion-button>
      <ion-title>Mis Empresas o Actividades Económicas
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Contenido -->
    <!-- Botón para adicionar una nueva empresa -->
    <br/>
    <ion-chip color="secondary">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Crear una Empresa o Actividad Económica</ion-label>
    </ion-chip>
    <br/>
    

  <ion-card>
    <ion-card-header>
      <ion-card-title>Empresa:</ion-card-title>

      <select  class="browser-default custom-select" [(ngModel)]="seleccionado">
        <option [ngValue]="objeto" *ngFor="let objeto of lista">{{objeto.nombreEmpresa}}</option>
        </select>

    </ion-card-header>
  
    <ion-card-content>
      <ion-subtitle>Código de la empresa:</ion-subtitle>
      <ion-item color="secondary">
        <ion-label>
          {{seleccionado?.id}}
        </ion-label>
      </ion-item>
      <ion-subtitle>Nombre de la empresa:</ion-subtitle>
      <ion-item color="secondary">
        <ion-label>
          {{seleccionado?.nombreEmpresa}}
        </ion-label>
      </ion-item>
      <ion-subtitle>Actividad Económica:</ion-subtitle>
      <ion-item color="secondary">
        <ion-label>
          {{seleccionado?.actividadEcon}}
        </ion-label>
      </ion-item>
      <ion-subtitle>Nit:</ion-subtitle>
      <ion-item color="secondary">
        <ion-label>
          {{seleccionado?.Nit}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-chip color="secondary">
          <ion-icon name="build-outline"></ion-icon>
          <ion-label>Editar o Ver Empresa</ion-label>
        </ion-chip>
      </ion-item>
    <ion-item>
      <ion-button slot="end" (click)="closeEmpresas()">
        Ok
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
      
    </ion-card-content>
  </ion-card>
  </ion-content>
  
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<!-- Menú Empresas -->
<!--Menú Mi Perfil-->
<ion-menu side="end" menuId="second" contentId="main">
  <ion-header >
    <ion-toolbar color="primary">
      <ion-button color="primary" style="text-align: right;" slot="end" (click)="closePerfil()"><ion-icon name="close-circle-outline" ></ion-icon></ion-button>
      <ion-title>Opciones de Ingreso
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-button color="light" >
        <ion-item><ion-icon name="cart-outline"></ion-icon> &nbsp;&nbsp; Mis empresas o Actividades Económicas</ion-item>
      </ion-button>
      <ion-button color="light" >
        <ion-item><ion-icon name="cart-outline"></ion-icon> &nbsp;&nbsp; Iniciar Sesión</ion-item>
      </ion-button>
      <ion-button color="light" >
        <ion-item><ion-icon name="cart-outline"></ion-icon> &nbsp;&nbsp; Cerrar Sesión</ion-item>
      </ion-button>
      <ion-button color="light" routerLink="/login-page-proveedor" (click)="activarWow()">
        <ion-item><ion-icon name="boat-outline"></ion-icon> &nbsp;&nbsp; Proveedor de este Comercio</ion-item>
      </ion-button>
      <ion-button color="light">
        <ion-item><ion-icon name="pricetags-outline"></ion-icon> &nbsp;&nbsp; Vendedor Autorizado</ion-item>
      </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<!--Menú Mi Perfil-->



<ion-content [fullscreen]="true" color="medium">
  <div style="background-color:white; width: 98%; height: 100%; margin-top: auto; margin-left: auto; margin-right: auto; margin-bottom: auto;">
    
    <ion-item style="margin-left: auto; margin-right: auto; text-align: center;">
      <ion-chip color="primary"style="margin-left: auto; margin-right: auto; text-align: center;">
        Id Empresa:
          {{seleccionado?.id}}
      </ion-chip>
      
      <ion-chip color="danger" style="margin-left: auto; margin-right: auto; text-align: center;">
        <ion-icon name="bag-add-outline"></ion-icon>
        <ion-label color="dark"><ion-icon name="add-outline" color="dark"></ion-icon>Registro de Pedido</ion-label>          
      </ion-chip>
      <ion-chip color="warning" style="margin-left: auto; margin-right: auto; text-align: center;">
        <ion-icon name="airplane-outline"></ion-icon>
        <ion-label color="dark"><ion-icon name="add-outline" color="dark"></ion-icon>Registro de Entrega</ion-label>          
      </ion-chip>
      <ion-chip color="success" style="margin-left: auto; margin-right: auto; text-align: center;">
        <ion-icon name="storefront-outline"></ion-icon>
        <ion-label color="dark"><ion-icon name="add-outline" color="dark"></ion-icon>Registro de Venta</ion-label>
      </ion-chip>
      
    </ion-item>
    <!-- Scrollable Segment -->
<ion-segment scrollable value="Pedidos Pendientes" style="margin-left: auto; margin-right: auto; text-align: center;">
  <ion-segment-button value="Pedidos Pendientes" style="margin-left: auto; margin-right: auto; text-align: center;">    
    <ion-label><ion-icon name="bag-add-outline"></ion-icon> Pedidos Pendientes</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Pedidos Rechazados" style="margin-left: auto; margin-right: auto; text-align: center;">    
    <ion-label><ion-icon name="bag-add-outline"></ion-icon> Pedidos Rechazados</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Entregas" style="margin-left: auto; margin-right: auto; text-align: center;">    
    <ion-label><ion-icon name="airplane-outline"></ion-icon> Entregas Pendientes</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Entregas Pendientes" style="margin-left: auto; margin-right: auto; text-align: center;">    
    <ion-label><ion-icon name="airplane-outline"></ion-icon> Entregas Rechazadas</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Ventas" style="margin-left: auto; margin-right: auto; text-align: center;">
    <ion-label><ion-icon name="storefront-outline"></ion-icon> Ventas</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Devoluciones" style="margin-left: auto; margin-right: auto; text-align: center;">
    <ion-label><ion-icon name="storefront-outline"></ion-icon> Devoluciones</ion-label>
  </ion-segment-button>
</ion-segment>

<div style="text-align: center;margin-right: auto; margin-left: auto; background-color: rgb(255, 255, 255); max-width: 95%;">
  <div style="text-align: center;margin-right: auto; margin-left: auto; background-color: rgb(255, 255, 255); max-width: 90%;">
  <ion-item>
      <ion-title>Pedidos pendientes de la empresa: {{seleccionado?.nombreEmpresa}}</ion-title>
  </ion-item>
  <ion-item>
      <ion-title>Usuario:
      </ion-title>
      <ion-avatar style="margin-left: 0%; margin-right: 0%;">
        <img src="https://res.cloudinary.com/newstartap/image/upload/v1616785574/imagenesParticipantes/Miguel_Paez_jpg_qdta4w.jpg">
      </ion-avatar>&nbsp;&nbsp;
      <ion-label>Miguel Páez</ion-label>
      <ion-subtitle>Permisos: 
        <ion-chip [disabled]="true">
          <ion-label>Editar</ion-label>
        </ion-chip>
        <ion-chip [disabled]="true">
          <ion-label>ver/Impimir</ion-label>
        </ion-chip>
        <ion-chip [disabled]="true">
          <ion-label>Rechazar</ion-label>
        </ion-chip>
        <ion-chip [disabled]="true">
          <ion-label>Despachar</ion-label>
        </ion-chip>
      </ion-subtitle>
  </ion-item>
    
    <ion-card style="text-align: center;margin-right: auto; margin-left: auto;">
      <div >
<table class="table table-hover table-responsive align-middle " >
  <thead class="table-light">
    <tr>
      <th scope="col">Editar</th>
      <th scope="col">Ver/Imprimir</th>
      <th scope="col">Referencia</th>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Cantidad Productos</th>
      <th scope="col">Nombre del Cliente</th>
      <th scope="col">Celular del Cliente</th>
      <th scope="col">Rechazar Pedido</th>
      <th scope="col">Despachar Pedido</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <ion-chip color="warning">
          <ion-icon name="construct-outline"></ion-icon>&nbsp;&nbsp;
        </ion-chip>      
      </th>
      <td>
      <ion-chip color="success">
        <ion-icon name="eye-outline"></ion-icon>&nbsp;&nbsp;
      </ion-chip>
     </td>
      <td>
        PPDDMP
      </td>
      <td>
        1
      </td>
      <td>
        20/08/2021 18:11
      </td>
      <td>
        3
      </td>
      <td>
        Patricia Mosquera
      </td>
      <td>
        3217028011
      </td>
      <td>
        <ion-chip color="danger">
          <ion-icon name="trash-bin-outline"></ion-icon>&nbsp;&nbsp;
        </ion-chip>
      </td>
      <td>
        <ion-chip color="success">
          <ion-icon name="rocket-outline"></ion-icon>&nbsp;&nbsp;
        </ion-chip>
      </td>
    </tr>
  </tbody>
  </table>
</div>
  </ion-card>
</div>
  </div>
</div>
</ion-content>

<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">...</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Close
  </button>
  <button type="button" class="btn btn-primary">Save changes</button>
</div>