<ion-header>
  <ion-toolbar>
    <ion-title>
    <ion-button color="light" routerLink="/tabs/tab1"><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
    
    Aporte Voluntario Dólares
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <ion-card-subtitle>Pago directo por:</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-chip color="danger">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Daviplata</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

</ion-content>

