<ion-header>
  <ion-toolbar color="primary">
    <ion-title> <ion-button color="primary" routerLink="/login-page-proveedor"><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
      Recuperación de Contraseña<ion-icon name="boat-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cardSolicitud" >
    <ion-card-header>
      
      <ion-card-title color="primary" class="wow fadeInUp" data-wow-delay="0.4s">Solicitud cambio y recuperación de contraseña</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
     <ion-item class="inputCorreo" >
      <ion-label position="floating" class="wow fadeInUp" data-wow-delay="0.8s">Correo electrónico</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br/>
    <br/>
    <ion-button>
      
       Recuperación de contraseña
       <ion-icon slot="end" name="mail-outline"></ion-icon>
    </ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
