<!-- llamado externo modal w3 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- llamado externo modal w3 -->

<!-- Cabecera -->
<ion-header>
  <ion-toolbar>
    <ion-title> <ion-button color="warning" routerLink="/tabs/tab1"><ion-icon name="arrow-undo-circle-outline"></ion-icon></ion-button> 
      Editar pedido pendiente</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Cabecera -->

<!-- Contenido de la página -->
<ion-content>
  <ion-card class="cardPrincipal">
    <!-- card referencia del pedido seleccionado -->
    <ion-card-header>
      <ion-card-title>Editar Pedido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
      <ion-chip color="warning">
        <ion-label><ion-icon name="link-outline"></ion-icon> Referencia: </ion-label>
        <ion-label>REFPDCLI1EM1</ion-label>
      </ion-chip>
      <ion-chip  color="warning">
        <ion-label><ion-icon name="link-outline"></ion-icon> Numero: </ion-label>
        <ion-input [(ngModel)]='pedidoInput' class="form-control" *ngFor="let i of pedidoId" ></ion-input>
      </ion-chip> 
      <ion-label *ngIf="pedidoInput>=1">Pedido Correcto</ion-label>
      <!-- <button  *ngIf='textoDeInput' class="btn btn-outline-secondary" type="button">Aqui toy</button> -->
    </ion-item> 
    <!-- card referencia del pedido seleccionado -->

    <br/>
       <!-- card cliente seleccionado o selecionar nuevo, o crear uno nuevo -->
  <ion-item>
    <!-- Sección del cliente -->
    <ion-card class="center">
      <ion-card-header>
        <!-- titulo de la sección del cliente en boostrap 4  https://mdbootstrap.com/docs/angular/sections/projects/-->
        <h1 class="font-weight-bold blue-text center" >
          <mdb-icon fas icon="user-circle"></mdb-icon> Sección del cliente</h1>
          <!-- titulo de la sección del cliente en boostrap 4 -->
      </ion-card-header>
      <!-- cambiar cliente -->
      <ion-button color="primary"><ion-icon name="construct-outline"></ion-icon> Editar Cliente</ion-button>
      <ion-button color="secondary"><ion-icon name="construct-outline"></ion-icon> Cambiar cliente</ion-button>
      <!-- cambiar cliente -->
      <ion-card-content>
        <!-- Card Cliente -->
        <ion-item>
          <ion-card class="center" *ngFor="let client of pedido">
            <ion-card-header>
              <ion-card-title>
                Cliente ID: {{client.idCliente}}
              </ion-card-title>
            </ion-card-header>
              <ion-card-content>
                <div class="row">
                <ion-card>
                  <ion-card-content>
                      <ion-card-subtitle>
                        <ion-item>
                        <mdb-icon fas icon="file-signature" class="text-primary"></mdb-icon> &nbsp;
                        Nombre:
                          <ion-chip color="primary">
                            <ion-label>{{client.nombreCliente}}</ion-label>
                          </ion-chip>
                        </ion-item>
                      </ion-card-subtitle>
                      <ion-card-subtitle *ngIf="client.empresaCliente">
                        <ion-item>
                        <mdb-icon fas icon="building" class="text-primary"></mdb-icon> &nbsp;
                        Empresa: &nbsp; <ion-checkbox checked="true" disabled></ion-checkbox>
                        </ion-item>
                      </ion-card-subtitle>
                      <ion-card-subtitle>
                        <ion-item>
                        <mdb-icon fas icon="phone-alt" class="text-primary"></mdb-icon> &nbsp;
                        Telefono:
                          <ion-chip color="primary">
                            <ion-label>{{client.telefonoCliente}}</ion-label>
                          </ion-chip>
                        </ion-item>
                      </ion-card-subtitle>
                      <ion-card-subtitle>
                        <ion-item>
                        <mdb-icon fas icon="mobile-alt" class="text-primary"></mdb-icon> &nbsp;
                        Celular:
                          <ion-chip color="primary">
                            <ion-label>{{client.celularCliente}}</ion-label>
                          </ion-chip>
                        </ion-item>
                      </ion-card-subtitle>
                      
                  </ion-card-content>
                </ion-card>
                <ion-card>
                  <ion-card-content>
                      <ion-card-subtitle>
                        <ion-item>
                        <mdb-icon fas icon="id-card-alt" class="text-primary"></mdb-icon> &nbsp;
                        Doc. Identidad o NIT:
                          <ion-chip color="primary">
                            <ion-label>{{client.identidicacionCliente}}</ion-label>
                          </ion-chip>
                        </ion-item>
                      </ion-card-subtitle>
                      <ion-card-subtitle>
                        <ion-item>
                        <mdb-icon fas icon="directions" class="text-primary"></mdb-icon> &nbsp;
                        Dirección:
                          <ion-chip color="primary">
                            <ion-label>{{client.direccionCliente}}</ion-label>
                          </ion-chip>
                        </ion-item>
                      </ion-card-subtitle>
                      <ion-card-subtitle>
                        <ion-item>
                        <mdb-icon fas icon="eye" class="text-primary"></mdb-icon> &nbsp;
                        Observaciones:
                          <ion-chip color="primary">
                            <ion-label>{{client.observacionesCliente}}</ion-label>
                          </ion-chip>
                        </ion-item>
                      </ion-card-subtitle>
                      <ion-card-subtitle>
                        <ion-item>
                        <mdb-icon fas icon="envelope-square" class="text-primary"></mdb-icon> &nbsp;
                        Email:
                          <ion-chip color="primary">
                            <ion-label>{{client.emailCliente}}</ion-label>
                          </ion-chip>
                        </ion-item>
                      </ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </div>
              </ion-card-content>
          </ion-card>
        </ion-item>
        <!-- Card Cliente -->
      </ion-card-content>
     
    </ion-card>  
  </ion-item>
    <!-- card cliente seleccionado o selecionar nuevo, o crear uno nuevo -->
    
    </ion-card-content>
  </ion-card>
  <table>
    <tr>
      <td>Nombre</td>
      <td>Edad</td>
    </tr>
    <tr *ngFor="let persona of personas">
      <td>{{persona.nombre}} <span *ngIf="persona.edad>=18">(Mayor)</span></td>
      <td>{{persona.edad}}</td>   
    </tr>
  </table>
</ion-content>
<!-- Contenido de la página -->

<!-- Modal Creación de cliente -->
<div class="w3-container">
  <div id="id01" class="w3-modal">
        <div class="modal-content center">
          <div class="modal-header " >
            <button type="button" class="close pull-right" aria-label="Close" onclick="document.getElementById('id01').style.display='none'">
              <mdb-icon far icon="times-circle"></mdb-icon>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel" >Creación de cliente</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" onclick="document.getElementById('id01').style.display='none'" mdbWavesEffect>
              <mdb-icon fas icon="times-circle"></mdb-icon> &nbsp; Cerrar</button>
            <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>
              <mdb-icon fas icon="save"></mdb-icon> &nbsp; Guardar cambios</button>
          </div>
        </div>
  </div>
</div>
<!-- Modal Creación de cliente -->