
    <div style="text-align: center;margin-right: auto; margin-left: auto; background-color: rgb(255, 255, 255); max-width: 95%;">
      <div style="text-align: center;margin-right: auto; margin-left: auto; background-color: rgb(255, 255, 255); max-width: 90%;">
      <ion-item>
          <ion-title>Pedidos pendientes de la empresa: {{seleccionado?.nombreEmpresa}}</ion-title>
      </ion-item>
      <ion-item>
          <ion-title>Usuario:
          </ion-title>
          <ion-avatar style="margin-left: 0%; margin-right: 0%;">
            <img src="https://res.cloudinary.com/newstartap/image/upload/v1616785574/imagenesParticipantes/Miguel_Paez_jpg_qdta4w.jpg">
          </ion-avatar>&nbsp;&nbsp;
          <ion-label>Miguel Páez</ion-label>
          <h5>Permisos: 
            <ion-chip [disabled]="true">
              <ion-label>Editar</ion-label>
            </ion-chip>
            <ion-chip [disabled]="true">
              <ion-label>ver/Impimir</ion-label>
            </ion-chip>
            <ion-chip [disabled]="true">
              <ion-label>Rechazar</ion-label>
            </ion-chip>
            <ion-chip [disabled]="true">
              <ion-label>Despachar</ion-label>
            </ion-chip>
          </h5>
      </ion-item>
        
        <ion-card style="text-align: center;margin-right: auto; margin-left: auto;">
          <div >
    <table class="table table-hover table-responsive align-middle " >
      <thead class="table-light">
        <tr>
          <th scope="col">Editar</th>
          <th scope="col">Ver/Imprimir</th>
          <th scope="col">Referencia</th>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Cantidad Productos</th>
          <th scope="col">Nombre del Cliente</th>
          <th scope="col">Celular del Cliente</th>
          <th scope="col">Rechazar Pedido</th>
          <th scope="col">Despachar Pedido</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <ion-chip color="warning">
              <ion-icon name="construct-outline"></ion-icon>&nbsp;&nbsp;
            </ion-chip>      
          </th>
          <td>
          <ion-chip color="success">
            <ion-icon name="eye-outline"></ion-icon>&nbsp;&nbsp;
          </ion-chip>
         </td>
          <td>
            PPDDMP
          </td>
          <td>
            1
          </td>
          <td>
            20/08/2021 18:11
          </td>
          <td>
            3
          </td>
          <td>
            Patricia Mosquera
          </td>
          <td>
            3217028011
          </td>
          <td>
            <ion-chip color="danger">
              <ion-icon name="trash-bin-outline"></ion-icon>&nbsp;&nbsp;
            </ion-chip>
          </td>
          <td>
            <ion-chip color="success">
              <ion-icon name="rocket-outline"></ion-icon>&nbsp;&nbsp;
            </ion-chip>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
      </ion-card>
    </div>
      </div>
