<ion-header>
  <ion-toolbar color="primary">
    <ion-title> <ion-button color="primary" routerLink="/login-page-proveedor"><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
      Solicitud de Registro Proveedor <ion-icon name="boat-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cardSolicitud" >
    <ion-card-header>
      
      <ion-card-title color="primary" class="wow fadeInUp" data-wow-delay="0.4s">Solicitud Registro de Proveedor</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      <ion-label class="wow fadeInUp" data-wow-delay="0.6s">
     El proceso de registro se realizará por medio de correo electrónico, donde le expresaremos a detalle terminos y condiciones,
     masificar la seguridad informatica en el proceso de registro y tratamiendo adecuado de datos a solicitar.
    </ion-label>
     <ion-item class="inputCorreo" type="email">
     
      <ion-label position="floating" class="wow fadeInUp" data-wow-delay="0.8s" type="email">Correo electrónico</ion-label>
      <ion-input required 
      type="email" name="email" ngModel email="true"
      id="email"
      required
      [(ngModel)]="solicitud.CORREO"
      ></ion-input>
    </ion-item>
    <br/>
    <br/>
    <ion-button (click)="presentAlertConfirm()">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      Enviar solicitud
      <ion-icon slot="end" name="push-outline"  class="wow bounce infinite"></ion-icon>
    </ion-button>
    </ion-card-content>
  </ion-card>
  
  <!--Section: Features v.2-->
<section class="text-center">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold" class="wow fadeInUp" data-wow-delay="1s">¿Porqué registrarse en nuestra plataforma?</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text" class="wow fadeInUp" data-wow-delay="1.2s">La unión comercial puede incrementar sus utilidades, además en la actualidad
    y en tiempos de tecnología la presencia en Internet es más que necesaria. te explicamos las ventajas:
  </p>

  <!--Grid row-->
  <div class="row text-left">

    <!--Grid column-->
    <div class="col-md-4 mb-4 parrafos">
      <div class="col-1 col-md-2 float-left">
        <mdb-icon fas icon="bullhorn" size="2x" class="blue-text wow fadeInRight" data-wow-delay="1.4s"></mdb-icon>
      </div>
      <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold" class="wow fadeInRight" data-wow-delay="1.4s">Somos marketplace</h4>
        <p class="grey-text" class="wow fadeInRight" data-wow-delay="1.6s">Tenemos la intención de conectar fácilmente a los usuarios de internet con comercios
          electrónicos cuyas empresas o emprendimientos se encuentran más cerca a ellos, de esta forma la venta a los
          usuarios sea más económica y la entrega sea más rápida.
        </p>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-4 parrafos">
      <div class="col-1 col-md-2 float-left">
        <mdb-icon fas icon="cogs" size="2x" class="pink-text wow fadeInRight" data-wow-delay="1.8s"></mdb-icon>
      </div>
      <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold" class="wow fadeInRight" data-wow-delay="1.8s">Dashboard Administrativo</h4>
        <p class="grey-text" class="wow fadeInRight" data-wow-delay="2s">la creación de su comercio virtual es netamente individual, obtendras la opción de tener el control
          y datos de su comercio virtual como lo son pedidos, control de inventarios, ventas realizadas, entregas realidas, 
          devoluciones, pqr, preguntas directas de usuarios, capacitación 
          fácil y en cualquier proceso que requieras ayuda, entre otras. 
        </p>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-4 parrafos">
      <div class="col-1 col-md-2 float-left">
        <mdb-icon fas icon="tachometer-alt" size="2x" class="purple-text wow fadeInRight" data-wow-delay="2.2s"></mdb-icon>
      </div>
      <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold" class="wow fadeInRight" data-wow-delay="2.2s">Soporte</h4>
        <p class="grey-text" class="wow fadeInRight" data-wow-delay="2.4s"> Nuestro funcionamiento se basa en la intermediación de las ventas online,
          tendrías una conexión con nosotros directa desde su dashboard administrativo, informamos y concretamos
        los pedidos solicitados, ventas a generar, concretamos disponibilidad del producto, entre otros.</p>
      </div>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
  <!--Grid row-->
  <div class="row text-left" >

    <!--Grid column-->
    <div class="col-md-4 mb-4 parrafos">
      <div class="col-1 col-md-2 float-left">
        <mdb-icon fas icon="money-bill" size="2x" class="green-text wow fadeInRight" data-wow-delay="2.6s"></mdb-icon>
      </div>
      <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold" class="wow fadeInRight" data-wow-delay="2.6s">Costo "Es Gratis" </h4>
        <p class="grey-text" class="wow fadeInRight" data-wow-delay="2.8s">No tienes que pagar absolutamenta nada, cero costo, ni mensualidades, ni prerequisitos o pagos previos.
          nuestro modelo de negocio se basa en incrementar un pequeño costo comisional sobre el valor de sus productos, 
          acorde a los precios de mercado y ofertas a realizar. ejemplo un producto de su empresa a un precio de 10 dolares, nosotros
          ponemos un pequeño incremento ejemplo de 2 dolares esto es reflejado en la venta y al consumidor final, pero usted como 
          proveedor obtendrá el valor que introduzca en su inventario.  "Recomendamos tener precios más económicos que los precios
          que maneja al público en su negocio, ya que por medio del internet no tendrá costo alguno y podrá también ser más competente".
        </p>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-4 parrafos">
      <div class="col-1 col-md-2 float-left">
        <mdb-icon fas icon="shopping-cart" size="2x" class="orange-text wow fadeInRight" data-wow-delay="3s"></mdb-icon>
      </div>
      <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold" class="wow fadeInRight" data-wow-delay="3s">Intermediación en ventas</h4>
        <p class="grey-text" class="wow fadeInRight" data-wow-delay="3.2s">
          Nuestro funcionamiento se basa en la canalización de las ventas, ayudar a aumentarlas, creación de publicidad constante,
          analisis de datos de clientes potenciales, ayudarle a conectarse a redes sociales, a ampliar aquellas posibilidades en 
          las cuales aun no estas enfocado.
          "seremos un gran equipo por beneficio mutuo".
        </p>
      </div>
    </div>
    <!--Grid column-->


  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.2-->
</ion-content>
