<ion-header>
  <ion-toolbar color="primary">
    <ion-title> <ion-button color="primary" routerLink="/tabs/tab1"><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
      Inicio de sesión proveedor <ion-icon name="boat-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment scrollable value="proveedor" class="segmentosProveedor">
    <ion-segment-button value="proveedor" class="segmentosProveedor">
      Proveedor: La feria del Aseo
    </ion-segment-button>
    <ion-segment-button value="otrosProveedores" class="segmentosProveedor">
               Buscar mi Comercio Electrónico 
    </ion-segment-button>
  </ion-segment>

  <ion-card class="cardLogin">
    <ion-card-header>
      <ion-text color="primary" class="title" class="wow fadeInUp">
        <h3 class="wow fadeInUp"> Inicio de Sesión</h3>
      </ion-text>
      
          <div class="imgLogin" class="wow fadeInUp">
             <picture class="imgLogin" class="wow fadeInUp">
               <source srcset="https://res.cloudinary.com/newstartap/image/upload/v1614557674/imagenesProyectos/proyectoDinastiaDigital_b288ba.webp"
               type="image/webp" loading="lazy" class="imgLogin">
               <source srcset="https://res.cloudinary.com/newstartap/image/upload/v1614557674/imagenesProyectos/proyectoDinastiaDigital_ge1uf4.jpg"
               type="image/jpg" loading="lazy" class="imgLogin">
               <img src="https://res.cloudinary.com/newstartap/image/upload/v1614557674/imagenesProyectos/proyectoDinastiaDigital_ge1uf4.jpg" 
               type="image/jpg" loading="lazy" class="imgLogin">
             </picture>
          </div>
    </ion-card-header>
  
    <ion-card-content>
      <form >
      <ion-item class="itemsLogin">
        <ion-label position="floating" class="wow fadeInUp">Correo Electrónico</ion-label>
        <ion-input  type="email"></ion-input>
      </ion-item>
      <ion-item class="itemsLogin">
        <ion-label position="floating" class="wow fadeInUp">Contraseña</ion-label>
        <ion-input  type="password"></ion-input>
      </ion-item>
      <br/>
      <ion-button color="primary">Ingresar <ion-icon name="log-in-outline" class="wow wobble infinite"></ion-icon></ion-button>
    </form>
    <div>
      <ion-chip color="primary" slot="start">
        <ion-label > <ion-icon name="reload-circle-outline"></ion-icon> Olvidé la Contraseña</ion-label>
      </ion-chip>
      &nbsp;&nbsp;&nbsp;
      <ion-chip color="primary" slot="end" routerLink="/solicitud-de-registro">
        <ion-label >Registrarse <ion-icon name="rocket-outline"></ion-icon></ion-label>
      </ion-chip>
      
    </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>