.title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.imgLogin{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    max-height: 150px;
}
.cardLogin{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
.itemsLogin{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}